@import '../../styles.scss';

div{
    padding: 1rem 0rem 1rem 1rem;
    position: relative;
    overflow: scroll;
}

span{
    padding: 1rem 1rem 0 1rem;
    width: 80%;
    display: flex;
    border-radius: 17px 17px 0 0;
    border: solid 1px #ccc;
    border-right-width: 6.7px;
    border-bottom: 0;
    margin-bottom: -1px;
    &>p:first-child{
        flex: 70%;
    }
}