<main class="fading" Theme>
<app-header title="Orçamento mensal" subtitle="realize a distribuição nos campos necessários">
</app-header>

    <!-- componentizar o chart -->
    <div id="chart">
        <!-- <img src="{{chartUrl}}" alt="" srcset=""> -->
        <app-chart
        chartType="bar"
        ></app-chart>
    </div>
    <!-- criar o componente de visualizacao das divisoes -->
    <p>Saldo</p>

    <footer>
        <bottom-bar [userID]="userID">
        </bottom-bar>
    </footer>
</main>
