<main class="fading" Theme>
<app-header title="Orçamento mensal" subtitle="realize a distribuição nos campos necessários">
</app-header>

<section  *ngIf="!showBudgetChartSection">
    <div id="input-allocation">
        <!-- incluir o input -->
        <div id="income-value-input" *ngIf="showIncomeInput">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Valor da renda</mat-label>
                    <span matPrefix> &nbsp;</span>
                    <input type="tel" matInput placeholder="R$ 100,00" currencyMask [(ngModel)]="initialIncomeValue"
                        [ngModelOptions]="{standalone: true}" (blur)="setInitialIncomeValue()">
                </mat-form-field>
            </form>
        </div>
    
        <div id="income-allocation" *ngIf="showIncomeAllocation">
            <span id="value-information">
                <p currencyMask>Valor Inicial:</p>
                <p currencyMask> R$ {{initialIncomeValue}}</p>

            </span>
            <span id="value-information">
                <p>Valor restante: </p>
                <p>R$ {{calculatedIncomeValue}}</p>

            </span>
        </div>
    
        <div id="submit-button">
            <button (click)="switchBetweenInputAndAllocation()">{{showIncomeInput ? 'Incluir pagamentos' : 'Editar renda'}}</button>
        </div>
    </div>

</section>

<section  *ngIf="showBudgetChartSection">
        <!-- componentizar o chart -->
        <div id="chart">
            <!-- <img src="{{chartUrl}}" alt="" srcset=""> -->
            <app-chart
            chartType="bar"
            ></app-chart>
        </div>
        <!-- criar o componente de visualizacao das divisoes -->
        <p>Saldo</p>
</section>


    <footer>
        <div id="chart-button" *ngIf="showBudgetChartButton">
            <button (click)="showBudgetChartSection = !showBudgetChartSection"> {{showBudgetChartSection ? 'exibir lista' : 'exibir gráfico'}} </button>
        </div>
        <bottom-bar>
        </bottom-bar>
    </footer>
</main>
