<main class="user-{{userID}} fading">
    <app-header title="Alocação dos recursos" subtitle="esse é o padrão de distribuição da nossa renda">
    </app-header>

    <!-- componentizar o chart -->
    <div id="chart">
        <!-- <img src="{{chartUrl}}" alt="" srcset=""> -->
        <app-chart
        chartType="doughnut"
        (labelSelected)="setChartLabelSelectedValue($event)"
        ></app-chart>
    </div>


    <div id="tree">
        <h2>
            <p> Divisões:</p>
        </h2>
        <div id="scroll-area">
            <app-tree
            #labelsTree
            (chartLabelSelected)="chartLabelSelected"
            ></app-tree>
        </div>
    </div>

    <footer>
        <bottom-bar [userID]="userID">
        </bottom-bar>
    </footer>
</main>