@import '../../styles.scss';

header {
    height: 2.5rem;
    width: 100%;
    text-align: left;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    & h1{
        margin: 0;
       
    }
}
main{

    height: 100%;
    padding: 0.5rem;
}

#location{
    font-style: italic;
}

.user-1{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(7, 20, 20));

}

.user-2{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(209, 159, 51));
}

footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}