@import '../../styles.scss';

main{

    height: 100%;
    padding: 0.5rem;
}

#location{
    font-style: italic;
}

.user-1{
    background-color: #74898a

}

.user-2{
    background-color: #ffffff;
}

footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}

menu{
    padding: 0 0.5rem;
    width: 90%;
    margin-top: 2rem;
    display: inline-flex;
    justify-content: space-between;

}

button {
    border: 0;
    // border-radius: 50%;
    width: 7rem;
    height: 7rem;
    overflow: visible;
    background-color: transparent;
}

img {
    max-width: 113%;
    max-height: 105%;
}