<main class="user-{{userID}} fading">
    <app-header title="{{momentOfTheDay}} {{userName}}" 
    subtitle="o que você deseja fazer agora?">
    </app-header>

    <menu>
        <button type="button" *ngFor="let option of menuOptions" value={{option.name}} (click)="onMenuOptionClick(option.id)">
            <img src={{option.imgSrc}} alt="" srcset="">
            <p>{{option.name}}</p>
        </button>
    </menu>

    <footer>
        <bottom-bar (buttonClicked)="handleBottomBarClick($event)">
        </bottom-bar>
    </footer>
</main>