@import '../../styles.scss';

main{

    height: 100%;
    padding: 0.5rem;
}

#location{
    font-style: italic;
}

.user-1{
    background-color: #74898a

}

.user-2{
    background-color: #ffffff;
}

footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}

menu{
    padding: 0 0.5rem;
    width: 90%;
    margin-top: 2rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

button {
    border: 0;
    width: 8rem;
    height: 12rem;
    overflow: hidden;
    background-color: transparent;
}

img {
    max-width: 105%;
    max-height: 105%;
}