@import '../../styles.scss';


menu{
    padding: 0 0.5rem;
    width: 90%;
    margin-top: 2rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

button {
    border: 0;
    width: 8rem;
    height: 12rem;
    overflow: hidden;
    background-color: transparent;
}

img {
    max-width: 105%;
    max-height: 105%;
}